<article>
  <header>
    <h2>
      Post Prev
    </h2>
  </header>
  <section>
    <p>The hard truth of the matter is that 98% of blogs have pretty ordinary and recycled information.</p>
    <span>
      Do you know what blogs are? If you don’t, then you’ve come to the right place. In the beginning, a blog was more of a personal diary that people shared online, and it goes back to 1994. In this online journal, you could talk about your daily life or share things you do. But, people saw an opportunity to communicate any information in a new way. So began the beautiful world of blogging.
    </span>
  </section>
</article>
