<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="../static/dashboard.css">
    </head>
    <body>
        <h2>myBlog</h2>
        <h5>You are logged in. Congrats!</h5>
    </body>
</html>