div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 0 auto;
  padding: 20px 0 20px 20px;
  width: 500px;
  border: 5px solid #e6e6ff;
  border-radius: 3px;
  color: #737373;
}

a {
  border: 5px solid #e6e6ff;
}
