.in {
    display: flex;
    margin: 10px auto 0 auto;
    padding: 20px 0 20px 20px;
    width: 500px;

    background-color: #e6e6ff;
    border: 1px solid white;
    border-radius: 3px;
}

label {
    display: block;
    margin-bottom: 10px;

    color: white;
}

input {
    width: 300px;

    border:1px solid white;
    border-radius: 3px;
}

.btn {
    width: 100px;
    height: 20px;

    color: #737373;

    cursor: pointer;
}

.btn:hover {
    background-color: #737373;

    color: white;
    
    transition: 2s;
}